@font-face {
    font-family: 'Times New Roman', serif;
}

.add-button {
    position: absolute;
    top: 1px;
    left: 1px;
    color: rgb(2, 2, 2);
}


/*αρχικό setup*/

.setup {
    background-color: #82b74b;
    border: 2px solid deepskyblue;
    margin: 10px;
    padding: 0;
    list-style-type: none;
}

.setup span {
    margin: 0 20px;
}

.buttonfilters {
    width: 9em;
}

div span {
    margin: 5px 5px 10px 10px;
}

#categoryRace {
    text-align: center;
}

#nrAthletes {
    width: 3em;
}

#countryFilter {
    margin: 5px;
    width: 9em;
}

header {
    background-color: white;
    text-align: center;
}

body {
    font-family: "Fira Sans", sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(2, 2, 2);
}

.panel-heading {
    background: deepskyblue;
    font-family: sans-serif;
}

.ekfonisi {
    border: 2px solid deepskyblue;
    margin: 10px;
    padding: 0;
    list-style-type: none;
}

.ekfonisi>h3 {
    margin-left: 10px;
    margin-right: 10px;
}

.insideTitle {
    font-family: "Fira Sans", sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(2, 2, 2);
    text-align: left;
}

.titleekfonisis {
    margin-top: 0;
    color: white;
    background: deepskyblue;
    padding: 10px;
    list-style-type: none;
}

.ilopoihsh {
    background-color: #82b74b;
    border: 2px solid deepskyblue;
    margin: 10px;
    padding: 0;
    list-style-type: none;
}

.header-ilopoiishs {
    flex: 100%;
    margin: 10px;
    padding: 0;
    text-align: left;
}

.table-title {
    margin: 0;
    padding: 0;
    background: #405d27;
    text-align: center;
}

.table1 {
    color: white;
    background-color: #c1946a;
    table-layout: fixed;
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

table.table1 th {
    border-bottom: 3px solid white;
}

table.table1 td {
    border: 3px solid white;
}

th.col1 {
    width: 10%;
}

th.col2 {
    width: 15%;
}

th.col3 {
    width: 50%;
}

th.col4 {
    width: 25%;
}

.wrapper {
    margin-top: 30px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    text-align: center;
}

.main {
    margin-left: 10px;
    margin-right: 10px;
    flex: 3;
    order: 2;
}

footer.foot-flexbox {
    flex: 100%;
    order: 4;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(48, 134, 168);
}

.navigation {
    text-align: center;
    list-style: none;
    margin: 0;
    background: deepskyblue;
    display: flex;
    justify-content: flex-end;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
}

.navigation a,
div {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

#TableUomTrack {
    color: white;
    background-Color: #618685;
    table-Layout: auto;
    font-Size: 20px;
    text-Align: center;
    border-Collapse: separate;
    width: 85%;
    margin-Left: auto;
    margin-Right: auto;
    margin-Bottom: 30px;
}

#TableUomTrack caption {
    font-Size: 20px;
}

#headUomTrack {
    color: white;
    background-Color: #618685;
    width: 80%;
    margin-Left: auto;
    margin-Right: auto;
    text-Align: center;
    font-size: 20px;
}

#tfoot {
    font-Size: 20px;
}

@media all and (min-width: 801px) and (max-width: 1200px) {
    .main {
        flex: 2;
        order: 2;
    }
    footer {
        flex: 100%;
        order: 4;
    }
    #TableUomTrack {
        font-Size: 15px;
    }
    #TableUomTrack caption {
        font-Size: 15px;
    }
    #headUomTrack {
        font-size: 15px;
    }
    #tfoot {
        font-Size: 15px;
    }
}

@media all and (min-width: 401px) and (max-width: 800px) {
    .main {
        flex: 1;
        order: 2;
        flex: 100%;
    }
    footer {
        flex: 100%;
        order: 4;
    }
    .navigation {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
    }
    .navigation a,
    div {
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }
    #TableUomTrack {
        font-Size: 15px;
    }
    #TableUomTrack caption {
        font-Size: 15px;
    }
    #headUomTrack {
        font-size: 15px;
    }
    #tfoot {
        font-Size: 15px;
    }
}

@media all and (min-width: 1px) and (max-width: 400px) {
    .main {
        flex: 1;
        order: 2;
        flex: 100%;
    }
    footer {
        flex: 100%;
        order: 4;
    }
    #TableUomTrack {
        font-Size: 10px;
    }
    #TableUomTrack caption {
        font-Size: 10px;
    }
    #headUomTrack {
        font-size: 10px;
    }
    #tfoot {
        font-Size: 15px;
    }
}